# Python for big data

1. Variebles
2. String
3. Fuction print
4. Booleanos y Condicionales
5. Loops
6. Funciones
7. Manejo de exepciones

# 1. Variables
resultados

In [ ]:
# Version
resultado

NameError: name 'resultado' is not defined

In [2]:
#Declarando variables
monto_deuda = 1000 
moneda = "soles"

In [3]:
#Mostrar variables
monto_deuda

1000

In [4]:
moneda

'soles'

In [ ]:
#Interactuar con el usuario
monto_interes = int(input("Ingrese el monto de interes: "))

In [5]:
#Operando con variables
resultado = monto_deuda*4
resultado

4000

In [6]:
#Tipo de variables
type(monto_deuda)
type(moneda)
type(resultado)

int

In [7]:
#Operar variables
4*resultado

16000

In [8]:
#Cambiando el tipo de variable
str_monto_deuda = str(monto_deuda)
str_monto_deuda

'1000'

In [9]:
int_monto_deuda = int(str_monto_deuda)
int_monto_deuda

1000

# 2. String